<!DOCTYPE html>
<html lang="en">
  <%= render "partials/meta" %>
  <body>

    <div class="container">
      <%= render "partials/header" %>
      <div class="row">
        <% if flash[:notice] %><div class='alert alert-info'><%= notice %></div><% end %>
        <% if flash[:alert] %><div class='alert alert-warning'><%= alert %></div><% end %>
        <div class="col-xs-12 col-sm-6 col-md-8">
          <%= yield %>
        </div>
      </div><!--/row-->
      <%= render "partials/footer" %>
    </div><!--/container-->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
